{% extends 'advanced_app/basic_app_base.html' %}
{% block body %}

<div class="jumbotron">
    <h1>Welcome to the School detail page</h1>
    <h2>Schools details</h2>
    <p>Name : {{school_detail.name}}</p>
    <p>Principal : {{school_detail.principle}}</p>
    <p>Location : {{school_detail.location}}</p>
<h3>Students: </h3>

{% for student in school_detail.students.all %}

<p>{{ student.name }} who is {{student.age}} years old</p>

{% endfor %}
</div>
<p><a class="btn btn-warning" href="{% url 'advanced_app:update' pk=school_detail.pk %}">Update</a></p>
<p><a class="btn btn-danger" href="{% url 'advanced_app:delete' pk=school_detail.pk %}">Delete</a></p>

{% endblock %}